{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body %}

<form action="/newpassword" method="POST">
    <label for="newpass">Enter your new password: </label>
    <input type="password" name="newpass" id="newpass">
    <br>
    <label for="reenterpass">Re-enter your new password: </label>
    <input type="password" name="reenterpass" id="reenterpass">
    <br>
    <input type="submit" id="submit" value="Log in!" style="font-size: 15px; height: 29px; padding: 5px">
    <br>
    <input type="hidden" name="hidden_email" id="hidden_email" value="{{ email }}">



</form>

<h2>{{ message }}</h2>
{% endblock  %}